@import 'colors.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

header {
    position: relative;
    padding: 2% 2% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: #f9f9f9;
}

.logo {
    color: var(--amaranth-purple);
    pointer-events: none;
    margin-right: 60vh;
    width: 5%;
}

.nav a{
    text-decoration: none;
    color: var(--amaranth-purple);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.nav a:hover, .nav a.active{
    background-color: var(--amaranth-purple);
    color: #fff;

}
