/* Coolors Exported Palette - https://coolors.co/232c33-f7eedf-c6afa5-dd9296-ab2346 */
:root {
    --gunmetal: #232c33;
    --old-lace: #f7eedf;
    --pale-dogwood: #c6afa5;
    --puce: #dd9296;
    --amaranth-purple: #ab2346;
    --darker-puce: #9d383c;
}
