<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax Scrolling Website | Codehal</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <h2 class="logo">Logo</h2>
        <nav class="nav">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a id='connexion' href="#">Connection</a>
        </nav>
    </header>
    
    <section class="parallax">
        <img src="../../images/hill1.png" id="hill1">
        <img src="../../images/hill2.png" id="hill2">
        <img src="../../images/hill3.png" id="hill3">
        <img src="../../images/hill4.png" id="hill4">
        <img src="../../images/hill5.png" id="hill5">
        <img src="../../images/tree.png" id="tree">
        <h2 id="text">Projet Génie Logiciel</h2>
        <img src="../../images/leaf.png" id="leaf">
        <img src="../../images/plant.png" id="plant">
    </section>

    <section class="sec" id="sec">
        <h2>Projet Génie Logiciel</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam excepturi officiis alias, aut mollitia harum ipsa adipisci id quibusdam facilis obcaecati delectus perferendis doloremque ipsum accusantium aliquid ex dignissimos recusandae.
        </p>
        <form action="../Controller/home.php" method="POST">
            <div class="formulaire">
                <input type="text" name="associations" class="input" placeholder="Nom Association" size="60%">
                <input type="password" name="mdp" class="input" placeholder="Mot de passe" required
                    size="60%">
            </div>
            <label class="container">
                <input type="checkbox" name="remember" id="remember">
                <div class="checkmark"></div>
                <label for="remember">Se souvenir de moi</label>
            </label>

            <center>
                <div class="butVal">
                    <button type="submit">Se connecter</button>
                </div>
            </center>
        </form>
    </section>

    <script src="script.js"></script>
</body>

</html>