<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock' ISEP - Accueil</title>
    <link rel="stylesheet" href="View/css/style.css">
    <link rel="stylesheet" href="View/css/header_style.css">
</head>

<body>

<header class="head">
    <img src="../images/Logo.png" alt="Logo" class="logo">
    <nav class="nav">
        <a href="../index.php">Accueil</a>
        <a href="reservation.php">Réservation</a>
        <a href="#">Connexion</a>
        <a href="View/inscription.html">Inscription</a>
    </nav>
</header>
    
    <section class="parallax">
        <img src="../images/hill1.png" id="hill1">
        <img src="../images/hill2.png" id="hill2">
        <img src="../images/hill3.png" id="hill3">
        <img src="../images/hill4.png" id="hill4">
        <img src="../images/hill5.png" id="hill5">
        <img src="../images/tree.png" id="tree">
        <h2 id="text">Stock' ISEP</h2>
        <img src="../images/leaf.png" id="leaf">
        <img src="../images/plant.png" id="plant">
    </section>

    <section class="sec" id="sec">
        <h2>Stock'ISEP : réservez ou proposez vos espaces de stockage !</h2>
        <p>
            Nous sommes ravis de vous présenter Stock ISEP, une solution innovante à un problème courant au sein de
            notre communauté étudiante. Nous avons identifié une problématique majeure : de nombreuses associations de
            l'ISEP manquent cruellement d'espace de stockage pour entreposer leur matériel, ce qui limite leurs
            activités. Pourtant, nous avons réalisé que l'ISEP dispose d'un potentiel inexploité en termes d'espaces de
            stockage, comme des armoires inutilisées.
            Notre solution est simple, mais efficace : créer une plateforme partiellement administrable par l'ISEP et
            les associations, qui répertorie tous ces espaces disponibles et permet aux associations de réserver
            temporairement un espace pour stocker leur matériel, que ce soit pour un événement ou toute autre activité.
            De plus, nous envisageons de solliciter les associations déjà dotées de locaux pour qu'elles prêtent leur
            espace de stockage temporairement.
            Notre solution vise à répondre à un besoin qu’aucune autre solution ne traite. Avec Stock ISEP, nous visons
            à optimiser l'utilisation des ressources disponibles, favorisant ainsi le dynamisme et la créativité de
            notre communauté étudiante et créant un nouvel outil utile à la vie associative de l’ISEP.
        </p>
        <form action="Controller/home.php" method="POST">
            <div class="formulaire">
                <input type="text" name="associations" class="input" placeholder="Nom Association" size="60%">
                <input type="password" name="mdp" class="input" placeholder="Mot de passe" required
                    size="60%">
            </div>
            <label class="container">
                <input type="checkbox" name="remember" id="remember">
                <div class="checkmark"></div>
                <label for="remember">Se souvenir de moi</label>
            </label>

            <center>
                <div class="butVal">
                    <button type="submit">Se connecter</button>
                </div>
            </center>
        </form>
    </section>

    <script src="script.js"></script>
</body>

</html>